@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
.name {
  color: #4756df !important;
}

h2 {
  color: #e0e0e0 !important;
}

p {
  color: #e0e0e0 !important;
}
body {
  font-family: "Roboto", serif;
  background-color: #121212 !important;
  background: url("images/blur.png") center/cover no-repeat;
}

.navbar {
  font-family: "Playfair Display", serif;
}

.introSpace {
  margin-top: 10rem;
}

.btn-link {
  color: #e0e0e0 !important;
}

.underline::after {
  content: "";
  display: block;
  width: 40rem;
  height: 0.05rem;
  background-color: rgba(244, 244, 244, 0.3);
  margin: 2rem auto 0;
}

.social-icon {
  transition: transform 0.3s ease, background-color 0.3s ease;
  outline: none;
  text-decoration: none;
  border: none;
}

.social-icon:hover {
  transform: scale(1.1);
}

.social-icon i {
  font-size: 40px;
}
